<!DOCTYPE html>
<html>
<head>
  <title>Saladly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<strong>Welcome <%= current_user.first_name if current_user %></strong>

<h1>Saladly</h1>
The Salad Makers Friend!

<h3><%= link_to 'Ingredients', ingredients_path %> | <%= link_to 'Employees', employees_path %></h3>

<%= yield %>

</body>
</html>
